<div class="create-tweet-form" *ngIf="currentUser$ | async as currentUser">
  <div class="avatar-container">
    <app-avatar [url]="currentUser.photoUrl"></app-avatar>
  </div>
  <form class="create-tweet-content" [formGroup]="createTweetForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width">
      <textarea matInput [placeholder]="placeholder" formControlName="text"></textarea>
      <mat-hint align="end">{{ textLength }} / 256</mat-hint>
      <mat-error>
        <app-server-error [form]="createTweetForm" field="text"></app-server-error>
      </mat-error>
    </mat-form-field>
    <div class="attachments-container">
      <div *ngFor="let photo of createTweetForm.value.photos; let ind = index" class="attachment">
        <img [src]="photo" class="attachment-photo"/>
        <button mat-icon-button (click)="removePhoto(ind)" class="remove-attachment">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="attachment" *ngIf="isUploading">
        <mat-spinner diameter="32"></mat-spinner>
      </div>
    </div>
    <div class="create-tweet-actions">
      <label for="attachments" class="attach-image-button" mat-ripple>
        <input
          type="file"
          multiple
          ng2FileSelect
          [uploader]="fileUploader"
          id="attachments"
          class="attachments-input"
        />
        <mat-icon>image</mat-icon>
      </label>
      <button
        mat-flat-button
        color="primary"
        [disabled]="createTweetForm.invalid || fileUploader.isUploading || isCreating"
      >
        <span *ngIf="!isCreating">Tweet</span>
        <div class="centered-spinner-container" *ngIf="isCreating">
          <mat-spinner [diameter]="32"></mat-spinner>
        </div>
      </button>
    </div>
  </form>
</div>
