@media (min-width: 601px) and (min-height: 500px) {
  .card-container {
    max-width: 600px;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  .card-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
  }
}
.card-content {
  display: flex;
  flex-direction: column;
  @media (max-width: 600px) {
    margin-right: 0px;
    margin-left: 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-action {
  flex: 1;
  margin-right: 16px;
}

.signup-action {
  color: white;
}
