<div class="page-content full-width-spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<app-alerts></app-alerts>
<div class="page-content" *ngIf="!isLoading">
  <div class="sidebar-container" *ngIf="isLoggedIn">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content-container">
    <div class="content" [class.content-authorized]="isLoggedIn">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="search-container" *ngIf="isLoggedIn">
    <app-search-panel></app-search-panel>
  </div>
</div>
