<div *ngIf="isLoading" class="full-width-spinner-container">
  <mat-spinner [diameter]="32"></mat-spinner>
</div>
<div *ngIf="user" class="profile-info-container">
  <div class="profile-info">
    <app-avatar [url]="user.photoUrl" large="true"></app-avatar>
    <div class="mat-title profile-name">{{ user.name }}</div>
    <div class="profile-username">@{{ user.username }}</div>
    <div class="profile-bio">{{ user.bio }}</div>
    <div class="profile-follow-info-container">
      <div class="profile-follow-info" (click)="showFollowing()">
        <span class="profile-follow-info-count">{{ user.following.length }}</span>
        <span>Following</span>
      </div>
      <div class="profile-follow-info" (click)="showFollowers()">
        <span class="profile-follow-info-count">{{ user.followers.length }}</span>
        <span>Followers</span>
      </div>
    </div>
  </div>
  <div class="profile-actions">
    <div *ngIf="isCurrentUser">
      <button color="primary" mat-stroked-button (click)="openEditProfileDialog()">Edit Profile</button>
    </div>
    <ng-container *ngIf="!isCurrentUser">
      <div *ngIf="!isFollowing">
        <button color="primary" mat-stroked-button (click)="follow()">Follow</button>
      </div>
      <div *ngIf="isFollowing">
        <button color="primary" mat-raised-button (click)="unfollow()">Following</button>
      </div>
    </ng-container>
  </div>
</div>
